databases/*
out/*
generate_bundles.rb
.cache
target/*
bin/*
.idea*
.classpath
.project/*
**/.settings/*
project/target/*
project/project/*
postgresql-async/target/*
db-async-common/target/*
mysql-async/target/*
.rvmrc
.ruby-version
.ruby-gemset
*.jar
*.iml
.project
.vagrant/*
