build/
.gradle/
databases/*
out/*
generate_bundles.rb
.cache
target/*
bin/*
.idea*
.classpath
.project/*
**/.settings/*
project/target/*
project/project/*
postgresql-async/target/*
db-async-common/target/*
db-async-common/out/*
mysql-async/out/*
postgresql-async/out/*
mysql-async/target/*
postgis-jasync/target/*
.rvmrc
.ruby-version
.ruby-gemset
*.iml
.project
.vagrant/*
vendor/*
*/out/*
*.hprof

**/.DS_Store
.DS_Store
