language: scala
scala:
  - 2.10.4
  - 2.11.7
  - 2.12.1

jdk:
  - oraclejdk8

services:
  - postgresql
  - mysql
cache:
  directories:
    - vendor/bundle
    - $HOME/.m2
    - $HOME/.ivy2
    - $HOME/.sbt
before_script:
  - ./script/prepare_build.sh

notifications:
  email:
    - linhares.jasync@gmail.com
