name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - run: docker run -d -p 4306:3306 -p 9000:9000 --name=memsql memsql/quickstart
            - uses: actions/checkout@v2
            - name: Set up JDK 8
              uses: actions/setup-java@v2
              with:
                  java-version: '8'
                  distribution: 'adopt'
            - name: Validate Gradle wrapper
              uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
            # - run: telnet localhost 4306
            - run: ./gradlew clean build --stacktrace --debug
            - name: resources/detect-leak.sh mysql-async/target/mysql-async-tests.log
              run: ./resources/detect-leak.sh mysql-async/target/mysql-async-tests.log
            - name: resources/detect-leak.sh postgresql-async/target/postgresql-async-tests.log
              run: ./resources/detect-leak.sh postgresql-async/target/postgresql-async-tests.log
            - name: gradlew codeCoverageReport
              run: ./gradlew codeCoverageReport
                  #  - ./gradlew build -Pnetty_version=4.0.56.Final
                  #  - ./gradlew clean build -x test
                  #  - ./gradlew :mysq-async:test --tests com.github.jasync.sql.db.mysql.QueryTimeoutSpec --info
